body {
  font-family: "Sofia Sans", sans-serif;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: #000000;
}

.container {
  max-width: 90%;
  padding: 30px;
  margin-left: auto;
  margin-right: auto;
}

.header {
  width: 100%;
  display: flex;
  align-items: center;
}
.header .header-logo {
  width: 20%;
  position: relative;
  font-size: 21.997px;
  font-weight: 600;
}
.header .header-logo .first {
  background: #F4DE4D;
  font-size: 21.997px;
  padding: 8px 2px 8px 27px;
  border-radius: 50%;
}
.header .header-logo .line {
  width: 12.57px;
  height: 3.142px;
  background: #000000;
  position: absolute;
  left: 67px;
  top: 4px;
}
.header .searchRes {
  display: none;
}
.header .header-content {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.header .header-content .search label {
  display: flex;
  align-items: center;
}
.header .header-content .search label img {
  width: 20px;
}
.header .header-content .search label input {
  outline: none;
  padding-left: 18px;
  height: 32px;
}
.header .header-content .search label input::placeholder {
  font-size: 15px;
  font-weight: bold;
  color: #c8c8c8;
}
.header .header-content .header-list {
  display: flex;
  align-items: center;
}
.header .header-content .header-list .list-wrap {
  display: flex;
  align-items: center;
}
.header .header-content .header-list .list-wrap li {
  margin-left: 44px;
  padding-bottom: 4px;
}
.header .header-content .header-list .list-wrap li:first-child {
  border-bottom: 2px solid #000000;
}
.header .header-content .header-list .list-wrap li:hover {
  border-bottom: 2px solid #000000;
}
.header .header-content .header-list .list-wrap li:last-child {
  border-bottom: none;
}
.header .header-content .header-list .list-wrap li a {
  font-size: 17.807px;
  font-weight: 400;
}
.header .header-content .header-list .list-wrap li .basket {
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header .header-content .header-list .list-wrap li .person {
  margin-left: 26px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
.header .bars {
  display: none;
  width: 20px;
  height: 20px;
  color: #000000;
}

.main {
  margin-top: 50px;
  display: flex;
  height: 100%;
}
.main .sidebar {
  width: 20%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.main .sidebar .explore .main-title {
  font-size: 31.424px;
  font-weight: 800;
  text-transform: capitalize;
}
.main .sidebar .explore ul {
  margin-top: 46px;
}
.main .sidebar .explore ul li {
  padding: 15px 0px;
}
.main .sidebar .explore ul li a {
  display: flex;
  align-items: center;
  text-transform: capitalize;
  font-size: 16.456px;
  font-weight: 500;
}
.main .sidebar .explore ul li img {
  margin-right: 10px;
}
.main .sidebar .help img {
  margin-right: 10px;
}
.main .box-container {
  width: 80%;
  display: grid;
  grid-template-areas: "box-sales  box-sales  box-pink box-brown" "box-summer box-summer box-pink box-brown" "box-curly  box-white  box-bluehair box-bluehair" "box-curly  box-white  box-redhair box-redhair";
  grid-template-rows: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}
.main .box-container .box-sales {
  grid-area: box-sales;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  border-radius: 15.712px;
  background: #BCE7F0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
.main .box-container .box-sales h3 {
  font-size: 31.424px;
  font-weight: 800;
  text-transform: uppercase;
  z-index: 1;
}
.main .box-container .box-sales img {
  position: absolute;
}
.main .box-container .box-sales .thunder_bot {
  bottom: 0;
  left: 90px;
}
.main .box-container .box-sales .thunder_pink_left {
  left: 10px;
}
.main .box-container .box-sales .thunder_pink_right {
  top: 0px;
  right: 120px;
}
.main .box-container .box-sales .thunder_white_bot {
  bottom: 0;
  right: 130px;
}
.main .box-container .box-sales .thunder_white_top {
  top: 0;
  left: 150px;
}
.main .box-container .box-sales .thunder_yl_top {
  top: 0;
  right: 0;
}
.main .box-container .box-summer {
  grid-area: box-summer;
}
.main .box-container .box-summer img {
  width: 100%;
  height: 100%;
}
.main .box-container .box-curly {
  grid-area: box-curly;
}
.main .box-container .box-curly .curly_hair {
  width: 100%;
  height: 100%;
  border-radius: 15.712px;
  object-fit: cover;
}
.main .box-container .box-white {
  grid-area: box-white;
}
.main .box-container .box-white .white_hair {
  width: 100%;
  height: 100%;
  border-radius: 15.712px;
  object-fit: cover;
}
.main .box-container .box-pink {
  grid-area: box-pink;
}
.main .box-container .box-pink .pink_hair {
  width: 100%;
  height: 100%;
  border-radius: 15.712px;
}
.main .box-container .box-brown {
  grid-area: box-brown;
}
.main .box-container .box-brown .brown_hair {
  width: 100%;
  height: 100%;
  border-radius: 15.712px;
}
.main .box-container .box-bluehair {
  grid-area: box-bluehair;
  width: 100%;
  height: 100%;
  border-radius: 15.712px;
  background: #f4de4d;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main .box-container .box-bluehair .title {
  position: absolute;
  padding-left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.main .box-container .box-bluehair .title h4 {
  color: #001AA2;
  font-size: 26px;
  font-weight: 800;
  text-transform: capitalize;
}
.main .box-container .box-bluehair .title p {
  font-size: 15.712px;
  font-weight: 400;
  padding-top: 10px;
}
.main .box-container .box-bluehair .img {
  position: absolute;
  object-fit: cover;
  right: 0;
  bottom: -5px;
}
.main .box-container .box-redhair {
  grid-area: box-redhair;
  width: 100%;
  height: 100%;
  border-radius: 15.712px;
  background: #e4dfdb;
  display: flex;
  position: relative;
  overflow: hidden;
}
.main .box-container .box-redhair .title {
  position: absolute;
  padding-left: 20px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 1;
}
.main .box-container .box-redhair .title h4 {
  color: #FD2E24;
  font-size: 26px;
  font-weight: 800;
}
.main .box-container .box-redhair .title p {
  font-size: 15.712px;
  font-weight: 400;
  padding-top: 10px;
}
.main .box-container .box-redhair .img {
  position: absolute;
  right: 0;
  bottom: -4px;
}

/*# sourceMappingURL=bvn15.css.map */
