@import "../partials/variables";

body {
  overflow-x: hidden;
}

// Chop Main
.hero {
  .hero-text {
    h1 {
      color: $primaryColor;
      font-size: 36.667px;
      font-weight: 800;
      line-height: 1.31;
    }
    h2 {
      color: $primaryColor;
      font-size: 43.333px;
      font-weight: 800;
      max-width: 70%;
    }
    p {
      color: $primaryColor;
      font-size: 16px;
      font-weight: 400;
      line-height: 1.27;
      padding-top: 27px;
    }
  }

  .hero-image {
    background: #dcffca;
    width: 50vw;
    border-radius: 16.667px 0px 0px 16.667px;
    padding: 55px 0;
    position: relative;
    min-height: 708px;

    img {
      width: 525px;
      margin-top: 50px;
      margin-left: -120px;
    }

    span {
      font-size: 156px;
      color: #22600025;
      font-weight: 800;
      line-height: 1;
      rotate: 90deg;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 10%;
      display: inline-block;
    }
  }
}

// Bua An
.eat-wrap {
  margin: 100px auto;

  .box-text {
    text-align: center;

    h3 {
      color: $primaryColor;
      text-align: center;
      font-family: Inter;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%;
      width: 50%;
      margin: 0 auto;
    }

    p {
      color: var(--Content, #2c2c2c);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px; /* 127.604% */
      width: 60%;
      margin: 0 auto;
      margin-top: 25px;
    }
  }

  .box-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    position: relative;
    margin-top: 126px;

    .circle {
      position: absolute;
      display: block;
      width: 235px;
      height: 235px;
      background: #dcffca;
      border-radius: 50%;
      top: -30%;
      left: 0;
      transform: translateX(-50%);
    }

    .circle-right {
      position: absolute;
      display: block;
      width: 235px;
      height: 235px;
      background: #ffd5bd;
      border-radius: 50%;
      bottom: -30%;
      right: 0;
      transform: translateX(50%);
    }

    .box-1,
    .box-2,
    .box-3 {
      position: relative;
      border-radius: 3.333px;
      background: #fff;
      box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
      padding: 33px 35px;
      img {
        border-radius: 10px;
        background: #fff0e7;
        padding: 20px;
      }
      h4 {
        color: $primaryColor;
        font-size: 43.333px;
        font-weight: 800;
        padding: 24px 0;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30.833px;
      }
    }
    .box-2 {
      padding: 50px 35px;
    }
  }
}

// Product
.products {
  margin-top: 150px;
  h3 {
    text-align: center;
    font-size: 31.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
  }
  .products-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột */
    grid-template-rows: auto; /* 2 hàng */
    gap: 80px;

    .product-1,
    .product-2,
    .product-3,
    .product-4,
    .product-5,
    .product-6 {
      .product-img {
        position: relative;
        display: flex;
        justify-content: center;
        .circle-background {
          position: absolute;
          width: 75%;
          height: 100%;
          background-color: #ffba94;
          border-radius: 50%;
          margin-left: 0;
          margin-right: 0;
        }
        img {
          z-index: 1;
          transform: translateY(70px);
        }
      }
      .product-title {
        padding-top: 50px;
        text-align: center;
        font-size: 23.333px;
        font-weight: 700;
        color: $primaryColor;
        margin-left: auto;
        margin-right: auto;
      }
      .line {
        display: block;
        width: 40.833px;
        height: 1px;
        background: #a3a3a3;
        margin: 16px auto 16px auto;
      }
      .desc {
        font-size: 16.667px;
        font-weight: 400;
        line-height: 21.667px;
        text-align: center;
      }
      .price {
        text-align: center;
        color: $primaryColor;
        font-size: 16.667px;
        font-weight: 400;
        line-height: 21.667px;
        padding-top: 6px;
        span {
          font-size: 23.333px;
          font-weight: 600;
          line-height: 26.667px;
        }
      }
      .btn-product {
        cursor: pointer;
        border: none;
        padding: 13.333px 11.667px;
        border-radius: 6.667px;
        background: #46b20f;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 31px;
      }
    }

    .product-2,
    .product-5 {
      .product-img {
        .circle-background {
          background-color: #c5ffa8;
        }
      }
    }
  }
}

// News
.news {
  margin-top: 130px;
  text-align: center;

  h3 {
    color: $primaryColor;
    font-size: 31.667px;
    font-weight: 800;
    line-height: 131.523%;
  }

  p {
    margin-top: 23px;
    color: $primaryColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.417px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-new {
    margin-top: 28px;

    .box-new-1 {
      img {
        width: 100%;
        border-radius: 6.667px;
        background-size: cover;
      }

      .img-desc {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .desc-left {
          margin: 0;
          color: $secondaryColor;
          font-size: 15px;
          font-weight: 500;
        }

        .desc-right {
          margin: 0;
          color: #a3a3a3;
          font-size: 15px;
          font-weight: 500;

          &::before {
            content: "\f073";
            font-family: FontAwesome;
            margin-right: 10px;
          }
        }
      }

      .title-new {
        color: $primaryColor;
        font-size: 20px;
        font-weight: 600;
        line-height: 26.667px;
        padding: 16px 0;
        max-width: 100%;
        margin: 0;
        text-align: left;
      }

      .desc-new {
        color: $primaryColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.417px;
        max-width: 100%;
        margin: 0;
        text-align: left;
      }
    }
  }

  .btn-news {
    border: none;
    border: 1px solid $secondaryColor;
    border-radius: 6px;
    color: $primaryColor;
    font-size: 16.667px;
    font-weight: 700;
    padding: 12px 21px;
    background: transparent;
    margin-top: 80px;
    cursor: pointer;

    &::after {
      content: "\f054 \f054";
      font-family: FontAwesome;
      display: inline-block;
      font-size: 12px;
    }

    &:hover {
      background: $secondaryColor;
      color: #fff;
    }
  }
}

// Protect
.protect {
  margin-top: 100px;
  position: relative;
  // background: #fff0e7;

  h3 {
    text-align: center;
    color: $primaryColor;
    font-size: 31.667px;
    font-weight: 800;
    line-height: 131.523%;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-top: 24px;
    color: $primaryColor;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.417px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-protect {
    margin-top: 50px;
    padding: 0 20px;

    .box-protect1 {
      background: #fff;
      border-radius: 8.333px;
      height: 100%;

      img {
        width: 100%;
        background-size: cover;
        border-radius: 8.333px;
      }

      .protect-content {
        padding: 24px 27px;

        .title {
          color: #e05000;
          text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
          font-size: 20px;
          font-weight: 600;
          line-height: 26.667px;
          margin: 0;
          text-align: left;
          max-width: 100%;
        }

        .desc {
          color: #19191b;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.417px;
          margin: 0;
          text-align: left;
          max-width: 100%;
          margin-top: 6px;
        }
      }
    }
  }

  .nen-protect {
    position: absolute;
    min-width: 100%;
    height: 50%;
    background: #fff0e7;
    top: 60%;
    z-index: -1;
  }
}

// Material
.material {
  margin-top: 150px;
  padding: 0 20px;

  .box-top {
    padding: 20px 0;

    .mate-wrap {
      max-width: 75%;
      margin: 0 auto;
      margin-bottom: 38.83px;
      display: flex;
      column-gap: 15.83px;

      .mate-img {
        display: inline-block;
        width: 50%;
      }

      .mate-content {
        width: 100%;
        .title {
          width: 120%;
          color: $primaryColor;
          font-size: 20px;
          font-weight: 600;
          line-height: 26.667px;
        }
        .desc {
          margin-top: 6px;
          color: $primaryColor;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
  }
}

// Contact
.contact {
  margin-top: 10px;

  .image {
    max-width: 83%;
    img {
      width: 100%;
    }
  }

  .form {
    margin-top: 55px;

    .form-heading {
      font-weight: 600;
      margin-bottom: 26px;
      color: $primaryColor;
      font-size: 20px;
      line-height: 26.667px;
    }

    .form-group {
      margin-bottom: 22.67px;
      .form-control {
        width: 100%;
        padding: 13.333px;
        border: 0.833px solid #a3a3a3;
        border-radius: 6.667px;
      }
    }

    .group-row {
      display: flex;
      flex-wrap: wrap;
      column-gap: 22.67px;

      .form-group {
        flex-grow: 1;

        textarea {
          resize: none;
          width: 100%;
          height: 116px;
          &::placeholder {
            text-wrap: nowrap;
            width: 100%;
          }
        }
      }

      .form-btn {
        width: 100%;
        display: flex;
        justify-content: flex-end;
        button {
          border: none;
          padding: 13px 40px;
          background: $secondaryColor;
          color: #fff;
          font-weight: 600;
          border-radius: 6.667px;
        }
      }
    }
  }
}

// Footer
.footer {
  background: #f2ffec;
  padding: 63px 20px 0px;
  margin-top: 80px;

  .footer-inner {
    border-bottom: 1px solid #a3a3a3;
    padding-bottom: 72px;

    .logo-footer {
      cursor: pointer;
    }

    .title-logo {
      margin-top: 25px;
      color: $primaryColor;
      font-size: 13.333px;
      font-weight: 400;
      line-height: 20.417px;
    }

    .title-title {
      color: $secondaryColor;
      font-size: 16.667px;
      font-weight: 600;
      line-height: 21.667px;
    }

    ul {
      margin-top: 13px;
      list-style: none;

      li {
        padding: 6px 0;

        a {
          color: $primaryColor;
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .footer-end {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          background: #dcffca;
          padding: 9px 11px 6px;
          border-radius: 50%;
          img {
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 1400px) {
  .hero {
    .hero-image {
      span {
        font-size: 100px;
        left: 6%;
      }

      img {
        width: 432px;
        margin-left: -60px;
      }
    }
  }

  .eat-wrap {
    .box-card {
      .circle-right, .circle {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  // Bua An
  .eat-wrap {
    .box-card {
      .circle,
      .circle-right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1200px) {
  .hero {
    .hero-text {
      h2 {
        max-width: 90%;
      }
    }
    .hero-image {
      span {
        font-size: 100px;
        top: -35px;
        left: -5%;
      }

      img {
        width: 350px;
        margin-left: -30px;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .hero {
    .hero-text {
      text-align: center;
      margin-bottom: 20px;
      margin-top: 20px;
      h2 {
        max-width: 100%;
        padding-top: 5px;
      }
      p {
        max-width: 90%;
        margin: 0 auto;
      }
    }

    .hero-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      img {
        margin: 0;
      }

      span {
        position: static;
        rotate: 0deg;
      }
    }
  }
}

@media screen and (max-width: 989px) {
  .hero {
    .hero-image {
      width: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      border-radius: 0;
      img {
        margin: 0;
      }

      span {
        position: static;
        rotate: 0deg;
        font-size: 10rem;
      }
    }
  }
}

@media screen and (max-width: 920px) {
  // Bua An
  .eat-wrap {
    .box-card {
      flex-direction: column;
      padding: 0 20px;

      .box-1,
      .box-2,
      .box-3 {
        width: 100%;
      }
    }
  }

  // Products
  .products {
    .products-list {
      grid-template-columns: repeat(2, 1fr);

      .product-img {
        .circle-background {
          display: none;
        }
      }
    }
  }

  // Protect
  .protect {
    .nen-protect {
      display: none;
    }
  }
}

@media screen and (max-width: 857px) {
  .contact {
    .form {
      .group-row {
        flex-direction: column;
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .hero {
    .hero-image {
      display: block;
      text-align: center;

      img {
        margin: 0 auto;
        max-width: 70%;
        display: block;
      }

      span {
        rotate: 0deg;
        font-size: 10rem;
        display: block;
      }
    }
  }

  // contact
  .contact {
    .image {
      display: none;
    }
    .form {
      .group-row {
        flex-direction: column;
        .form-group {
        }

        .form-btn {
          button {
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) {
  // Products
  .products {
    .products-list {
      grid-template-columns: repeat(2, 1fr);

      .product-1,
      .product-2,
      .product-3,
      .product-4,
      .product-5,
      .product-6 {
        .product-title {
          font-size: 20px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) {
  .hero {
    .hero-image {
      display: block;
      text-align: center;

      img {
        margin: 0 auto;
        max-width: 70%;
        display: block;
      }

      span {
        rotate: 0deg;
        font-size: 100px;
        display: block;
      }
    }
  }


  .eat-wrap {
    .box-text {
      h3,
      p {
        min-width: 100%;
      }
    }
  }

  // Protect {
  .protect {
    h3,
    p {
      max-width: 100%;
    }
    .box-protect {
      .row {
        flex-direction: column;
        .box-protect1 {
          .hinh_cuoi {
            width: 150%;
            background-size: cover;
          }
        }
      }
    }
  }

  // Material
  .material {
    .row {
      flex-direction: column;
    }
  }

  // Products
  .products {
    .products-list {
      .product-1,
      .product-2,
      .product-3,
      .product-4,
      .product-5,
      .product-6 {
        .product-title {
          font-size: 10px;
          width: 100%;
        }
      }
    }
  }

  // Footer
  .footer {
    .footer-end {
      flex-direction: column;
    }
  }
}
