@import "../partials/variables";

body {
  overflow-x: hidden;
}

// Chop Main
.hero {
  .hero-text {
    padding-top: 130px;

    h1 {
      color: $primaryColor;
      font-size: 36.667px;
      font-weight: 800;
      line-height: 131.523%;
    }
    h2 {
      color: $primaryColor;
      font-size: 43.333px;
      font-weight: 800;
    }
    p {
      color: $primaryColor;
      font-size: 16px;
      font-weight: 400;
      line-height: 20.417px;
    }
  }

  .hero-image {
    img {
      margin-left: -60px;
    }

    span {
      position: absolute;
      display: inline-block;
      transform: rotate(90deg);
      color: var(--Green-1000, #216000);
      font-size: 10vw;
      font-weight: 800;
      line-height: 100%;
      right: -100px;
      top: 250px;
      opacity: 0.15;
    }
  }

  .nen-main {
    width: 50%;
    height: 90%;
    position: absolute;
    right: 0;
    background: $thirdColor;
    top: 0;
    z-index: -3;
    margin-top: 86px;
    border-radius: 16.667px 0px 0px 16.667px;
  }
}

// Bua An
.eat-wrap {
  margin: 100px auto;

  .box-text {
    text-align: center;

    h3 {
      color: $primaryColor;
      text-align: center;
      font-family: Inter;
      font-size: 31.667px;
      font-style: normal;
      font-weight: 800;
      line-height: 131.523%; 
      width: 50%;
      margin: 0 auto;
    }

    p {
      color: var(--Content, #2C2C2C);
      text-align: center;
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 20.417px; /* 127.604% */
      width: 60%;
      margin: 0 auto;
      margin-top: 25px;
    }
  }

  .box-card {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 22px;
    position: relative;
    margin-top: 126px;

    .circle {
      position: absolute;
      display: block;
      width: 235px;
      height: 235px;
      background: #DCFFCA;
      border-radius: 50%;
      top: -30%;
      left: 0;
      transform: translateX(-50%);
    }

    .circle-right {
      position: absolute;
      display: block;
      width: 235px;
      height: 235px;
      background: #FFD5BD;
      border-radius: 50%;
      bottom: -30%;
      right: 0;
      transform: translateX(50%);
    }

    .box-1, .box-2, .box-3 {
      position: relative;
      border-radius: 3.333px;
      background:#FFF;
      box-shadow: -5.833px 8.333px 72.5px 0px rgba(54, 54, 54, 0.12);
      padding: 33px 35px;
      img {
        border-radius: 10px;
        background: #FFF0E7;
        padding: 20px;
      }
      h4 {
        color: $primaryColor;
        font-size: 43.333px;
        font-weight: 800;
        padding: 24px 0;
      }
      p {
        font-size: 20px;
        font-weight: 400;
        line-height: 30.833px;
      }    
    }
    .box-2 {
      padding: 50px 35px;
    }
  }
}

// Product
.products {
  margin-top: 150px;
  h3 {
    text-align: center;
    font-size: 31.667px;
    font-style: normal;
    font-weight: 800;
    line-height: 131.523%;
  }
  .products-list {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 cột */
    grid-template-rows: auto ; /* 2 hàng */
    gap: 80px;

    .product-1, .product-2, .product-3, .product-4, .product-5, .product-6 {
      .product-img {
        position: relative;
        display: flex;
        justify-content: center;
        .circle-background {
          position: absolute;
          width: 75%; 
          height: 100%; 
          background-color: #FFBA94; 
          border-radius: 50%;
          margin-left: 0;
          margin-right: 0;
        }
        img {
          z-index: 1;
          transform: translateY(70px);
        }
      }
      .product-title {
        padding-top: 50px;
        text-align: center;
        font-size: 23.333px;
        font-weight: 700;
        color: $primaryColor;
        margin-left: auto;
        margin-right: auto;
      }
      .line {
        display: block;
        width: 40.833px;
        height: 1px;
        background: #A3A3A3;
        margin: 16px auto 16px auto;
      }
      .desc {
        font-size: 16.667px;
        font-weight: 400;
        line-height: 21.667px;
        text-align: center;
      }
      .price {
        text-align: center;
        color: $primaryColor;
        font-size: 16.667px;
        font-weight: 400;
        line-height: 21.667px; 
        padding-top: 6px;
        span {
          font-size: 23.333px;
          font-weight: 600;
          line-height: 26.667px;
        }
      }
      .btn-product {
        cursor: pointer;
        border: none;
        padding: 13.333px 11.667px;
        border-radius: 6.667px;
        background: #46B20F;
        color: #fff;
        margin-left: auto;
        margin-right: auto;
        display: block;
        margin-top: 31px;
      }
    }

    .product-2, .product-5 {
      .product-img {
        .circle-background {
          background-color: #C5FFA8; 
        }
      }
    }
  }

}

// News
.news {
  margin-top: 130px;
  text-align: center;

  h3 {
    color: $primaryColor;
    font-size: 31.667px;
    font-weight: 800;
    line-height: 131.523%;
  }

  p {
    margin-top: 23px;
    color: $primaryColor;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.417px;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-new {
    margin-top: 28px;

    .box-new-1 {
      img {
        width: 100%;
        border-radius: 6.667px;
        background-size: cover;
      }

      .img-desc {
        margin-top: 16px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        

        .desc-left {
          margin: 0;
          color: $secondaryColor;
          font-size: 15px;
          font-weight: 500;
        }

        .desc-right {
          margin: 0;
          color:#A3A3A3;
          font-size: 15px;
          font-weight: 500;

          &::before {
            content: "\f073";
            font-family: FontAwesome;
            margin-right: 10px;
          }
        }

      }

      .title-new {
        color: $primaryColor;
        font-size: 20px;
        font-weight: 600;
        line-height: 26.667px;
        padding: 16px 0;
        max-width: 100%;
        margin: 0;
        text-align: left;
      }

      .desc-new {
        color: $primaryColor;
        font-size: 16px;
        font-weight: 400;
        line-height: 20.417px;
        max-width: 100%;
        margin: 0;
        text-align: left;
      }
    }
  }

  .btn-news {
    border: none;
    border: 1px solid $secondaryColor;
    border-radius: 6px;
    color: $primaryColor;
    font-size: 16.667px;
    font-weight: 700;
    padding: 12px 21px;
    background: transparent;
    margin-top: 80px;
    cursor: pointer;

    &::after {
      content: "\f054 \f054";
      font-family: FontAwesome;
      display: inline-block;
      font-size: 12px;
    }

    &:hover {
      background: $secondaryColor;
      color: #fff;
    }
  }
}

// Protect 
.protect {
  margin-top: 100px;
  position: relative;
  
  h3 {
    text-align: center;
    color: $primaryColor;
    font-size: 31.667px;
    font-weight: 800;
    line-height: 131.523%;
    max-width: 40%;
    margin-left: auto;
    margin-right: auto;
  }

  p {
    margin-top: 24px;
    color: $primaryColor;
    text-align: center;
    font-size: 16px;
    font-weight: 400;
    line-height: 20.417px;
    max-width: 50%;
    margin-left: auto;
    margin-right: auto;
  }

  .box-protect {
    margin-top: 50px;
    padding: 0 20px;

    .box-protect1 {
      background:#FFF;
      border-radius: 8.333px;
      height: 100%;

      img {
        width: 100%;
        background-size: cover;
        border-radius: 8.333px;
      }

      .protect-content {
        padding: 24px 27px;

        .title {
          color:#E05000;
          text-shadow: 0px 3.333px 3.333px rgba(0, 0, 0, 0.25);
          font-size: 20px;
          font-weight: 600;
          line-height: 26.667px; 
          margin: 0;
          text-align: left;
          max-width: 100%;
        }

        .desc {
          color: #19191B;
          font-size: 16px;
          font-weight: 400;
          line-height: 20.417px;
          margin: 0;
          text-align: left;
          max-width: 100%;
          margin-top: 6px;
        }
      }
    }
  }

  .nen-protect {
    position: absolute;
    min-width: 100%;
    // left: -30%;
    height: 50%;
    background: #FFF0E7;
    top: 60%;
    z-index: -1;
  }
}

// Material
.material {
  margin-top: 150px;
  padding: 0 20px;

  .box-top {
    padding: 20px 0;

    .mate-wrap {
      max-width: 75%;
      margin: 0 auto;
      margin-bottom: 38.83px;
      display: flex;
      column-gap: 15.83px;

      .mate-img {
        display: inline-block;
        width: 50%;
      }

      .mate-content {
        width: 100%;
        .title {
          width: 120%;
          color: $primaryColor;
          font-size: 20px;
          font-weight: 600;
          line-height: 26.667px;
        }
        .desc {
          margin-top: 6px;
          color: $primaryColor;
          font-size: 17px;
          font-weight: 500;
        }
      }
    }
  }
}

// Contact
.contact {
  margin-top: 10px;

  .image {
    max-width: 83%;
    img {
      width: 100%;
    }
  }

  .form {
    margin-top: 55px;

    .form-heading {
      font-weight: 600;
      margin-bottom: 26px;
      color: $primaryColor;
      font-size: 20px;
      line-height: 26.667px;
    }

    .form-group {
      margin-bottom: 22.67px;
      .form-control {
        width: 100%;
        padding: 13.333px;
        border: 0.833px solid #a3a3a3;
        border-radius: 6.667px;
      }
    }

    .group-row {
      display: flex;
      flex-wrap: wrap;
      column-gap: 22.67px;

      .form-group {
        flex-grow: 1;
        
        textarea {
          resize: none;
          width: 100%;
          height: 116px;
          &::placeholder {
            text-wrap: nowrap;
            width: 100%;
          }
        }
      }

      .form-btn {
        width: 100%;
        display: flex; 
        justify-content: flex-end;
        button {
          border: none;
          padding: 13px 40px;
          background: $secondaryColor;
          color: #fff;
          font-weight: 600;
          border-radius: 6.667px;
        }
      }
    }
  }
}

// Footer
.footer {
  background: #F2FFEC;
  padding: 63px 20px 0px;
  margin-top: 80px;

  .footer-inner {
    border-bottom: 1px solid #A3A3A3;
    padding-bottom: 72px;

    .logo-footer {
      cursor: pointer;
    }

    .title-logo {
      margin-top: 25px;
      color: $primaryColor;
      font-size: 13.333px;
      font-weight: 400;
      line-height: 20.417px;
    }

    .title-title {
      color: $secondaryColor;
      font-size: 16.667px;
      font-weight: 600;
      line-height: 21.667px;
    }

    ul {
      margin-top: 13px;
      list-style: none;

      li {
        padding: 6px 0;

        a {
          color: $primaryColor;
          display: flex;
          align-items: center;

          img {
            margin-right: 10px;
          }
        }
      }
    }
  }

  .footer-end {
    padding: 24px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;

    ul {
      display: flex;
      align-items: center;

      li {
        margin-left: 7px;
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          background: #DCFFCA;
          padding: 9px 11px 6px;
          border-radius: 50%;
          img {
            width: 100%;
          }
        }

      }
    }
  }
}

@media screen and (max-width: 1300px) { 
  // Bua An
  .eat-wrap {
    .box-card {
      .circle, .circle-right {
        display: none;
      }
    }
  }
}

@media screen and (max-width: 1199px) { 
  // Chop-Main
  .hero {
    .hero-text {
      margin-top: 50px;
    }

    .nen-main {
      display: none;
    }
  }
}

@media screen and (max-width: 920px) { 
  // Chop Main
  .hero {
    .hero-text {
      padding: 0 60px;
    }
  
    .hero-image {
      span {
        position: relative;
        display: inline;
        transform: rotate(0);
        color: var(--Green-1000, #216000);
        font-size: 10vw;
        font-weight: 800;
        line-height: 100%;
        top: -20px;
      }
    }
  }

  // Bua An
  .eat-wrap {
    .box-card {
      flex-direction: column;
      padding: 0 20px;

      .box-1, .box-2, .box-3 {
        width: 100%;
      }
    }
  }

  // Products
  .products {
    .products-list {
      grid-template-columns: repeat(2, 1fr);

      .product-img {
        .circle-background {
          display: none;
        }
      }
    }
  }

  // Protect 
  .protect {
    .nen-protect {
      display: none;
    }
  }
}

@media screen and (max-width: 768px) {
  // contact
  .contact {
    .image {
      display: none;
    }
    .form {
      .group-row {
        .form-btn {
          button {
            justify-content: center;
            width: 100%;
          }
        }
      }
    }
  }
}

@media screen and (max-width: 650px) { 
  // Products
  .products {
    .products-list {
      grid-template-columns: repeat(2, 1fr);

      .product-1, .product-2, .product-3, .product-4, .product-5, .product-6 {
        .product-title {
          font-size: 20px;
          width: 100%;
        }
      }
    }
  }
}

@media screen and (max-width: 567px) { 
  .eat-wrap {
    .box-text {
      h3, p {
        min-width: 100%;
      }
    }
  }


  // Protect {
  .protect {
    h3, p {
      max-width: 100%;
    }
    .box-protect {
      .row {
        flex-direction: column;
        .box-protect1 {
          .hinh_cuoi {
            width: 150%;
            background-size: cover;
          }
        }
      }   
    }
  }

  // Material 
  .material {
    .row {
      flex-direction: column;
    }
  }

  // Products
  .products {
    .products-list {
      .product-1, .product-2, .product-3, .product-4, .product-5, .product-6 {
        .product-title {
          font-size: 10px;
          width: 100%;
        }
      }
    }
  }

  // Footer
  .footer {
    .footer-end {
      flex-direction: column;
    }
  }
}